<!DOCTYPE html>
<html>
<head>
	<title>Cinemashit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#2b2b2b" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="apple-touch-icon" sizes="57x57" href="icons/xhdpi.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="icons/xhdpi.png.png" />
	<link rel="shortcut icon" type="image/x-icon" href="icons/xxhdpi.png" />
</head>
<body class="container"></body>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/index.js"></script>
</html>